Repository HarbourMasters/Shipwright, pull requests merged in 2024-10, with the labels that each got.

#4268 Refactor Fishsanity
  soh/soh/Enhancements/game-interactor/GameInteractor.h
  soh/soh/Enhancements/mods.cpp
  soh/soh/Enhancements/randomizer/fishsanity.cpp
  soh/soh/Enhancements/randomizer/fishsanity.h
  soh/soh/Enhancements/randomizer/hook_handlers.cpp
  soh/soh/Enhancements/randomizer/location.cpp
  soh/soh/Enhancements/randomizer/location.h
  soh/soh/Enhancements/randomizer/location_list.cpp
  soh/soh/Enhancements/randomizer/randomizer.cpp
  soh/src/overlays/actors/ovl_En_Fish/z_en_fish.c
  soh/src/overlays/actors/ovl_Fishing/z_fishing.c
  soh/src/overlays/actors/ovl_Fishing/z_fishing.h
  soh/src/overlays/actors/ovl_player_actor/z_player.c
Labels: rando v3

#4325 simply all loaches logic
  soh/soh/SohMenuBar.cpp
  soh/src/overlays/actors/ovl_Fishing/z_fishing.c
Labels: code cleanup, rando v3

#4280 Add 5, 6 & 7 item shopsanity.
  soh/soh/Enhancements/debugger/debugSaveEditor.cpp
  soh/soh/Enhancements/presets.h
  soh/soh/Enhancements/randomizer/3drando/fill.cpp
  soh/soh/Enhancements/randomizer/3drando/item_pool.cpp
  soh/soh/Enhancements/randomizer/3drando/shops.cpp
  soh/soh/Enhancements/randomizer/3drando/shops.hpp
  soh/soh/Enhancements/randomizer/3drando/spoiler_log.cpp
  soh/soh/Enhancements/randomizer/context.cpp
  soh/soh/Enhancements/randomizer/item.cpp
  soh/soh/Enhancements/randomizer/option_descriptions.cpp
  soh/soh/Enhancements/randomizer/randomizer.cpp
  soh/soh/Enhancements/randomizer/randomizerTypes.h
  soh/soh/Enhancements/randomizer/randomizer_check_objects.cpp
  soh/soh/Enhancements/randomizer/randomizer_check_tracker.cpp
  soh/soh/Enhancements/randomizer/randomizer_item_tracker.cpp
  soh/soh/Enhancements/randomizer/settings.cpp
  soh/src/overlays/actors/ovl_En_Ossan/z_en_ossan.c
Labels: rando v3

#4288 Fix duplicate fishing checks and a crash with fishing rod hint
  soh/include/z64item.h
  soh/soh/Enhancements/custom-message/CustomMessageTypes.h
  soh/soh/Enhancements/game-interactor/GameInteractor.h
  soh/soh/Enhancements/randomizer/hook_handlers.cpp
  soh/soh/Enhancements/randomizer/item_list.cpp
  soh/soh/Enhancements/randomizer/settings.cpp
  soh/soh/OTRGlobals.cpp
  soh/src/overlays/actors/ovl_Fishing/z_fishing.c
  soh/src/overlays/actors/ovl_Fishing/z_fishing.h
  soh/src/overlays/actors/ovl_Item_Etcetera/z_item_etcetera.c
Labels: rando v3

#3852 Kaleido Menu for Miscellaneous Collectibles
  soh/assets/custom/textures/parameter_static/gBossSoul.rgba32.png
  soh/assets/soh_assets.h
  soh/include/z64.h
  soh/soh/Enhancements/game-interactor/GameInteractor.h
  soh/soh/Enhancements/game-interactor/GameInteractor_RawAction.cpp
  soh/soh/Enhancements/kaleido.cpp
  soh/soh/Enhancements/kaleido.h
  soh/soh/Enhancements/mods.cpp
  soh/soh/Enhancements/randomizer/context.cpp
  soh/soh/Enhancements/randomizer/context.h
  soh/src/code/z_kaleido_setup.c
  soh/src/overlays/misc/ovl_kaleido_scope/z_kaleido_scope_PAL.c
Labels: rando v3

#4255 VBify
  soh/include/z64save.h
  soh/soh/Enhancements/boss-rush/BossRush.cpp
  soh/soh/Enhancements/boss-rush/BossRush.h
  soh/soh/Enhancements/boss-rush/BossRushTypes.h
  soh/soh/Enhancements/game-interactor/GameInteractor.h
  soh/soh/Enhancements/game-interactor/GameInteractor_HookTable.h
  soh/soh/Enhancements/game-interactor/GameInteractor_Hooks.cpp
  soh/soh/Enhancements/game-interactor/GameInteractor_Hooks.h
  soh/soh/Enhancements/mods.cpp
  soh/soh/Enhancements/randomizer/hook_handlers.cpp
  soh/soh/Enhancements/timesaver_hook_handlers.cpp
  soh/soh/SaveManager.cpp
  soh/soh/z_play_otr.cpp
  soh/src/code/code_800EC960.c
  soh/src/code/z_horse.c
  soh/src/code/z_parameter.c
  soh/src/code/z_play.c
  soh/src/code/z_sram.c
  soh/src/overlays/actors/ovl_Bg_Breakwall/z_bg_breakwall.c
  soh/src/overlays/actors/ovl_Boss_Dodongo/z_boss_dodongo.c
  soh/src/overlays/actors/ovl_Boss_Fd/z_boss_fd.c
  soh/src/overlays/actors/ovl_Boss_Fd2/z_boss_fd2.c
  soh/src/overlays/actors/ovl_Boss_Ganon/z_boss_ganon.c
  soh/src/overlays/actors/ovl_Boss_Ganon2/z_boss_ganon2.c
  soh/src/overlays/actors/ovl_Boss_Ganondrof/z_boss_ganondrof.c
  soh/src/overlays/actors/ovl_Boss_Goma/z_boss_goma.c
  soh/src/overlays/actors/ovl_Boss_Mo/z_boss_mo.c
  soh/src/overlays/actors/ovl_Boss_Sst/z_boss_sst.c
  soh/src/overlays/actors/ovl_Boss_Tw/z_boss_tw.c
  soh/src/overlays/actors/ovl_Boss_Va/z_boss_va.c
  soh/src/overlays/actors/ovl_Demo_Kankyo/z_demo_kankyo.c
  soh/src/overlays/actors/ovl_Demo_Sa/z_demo_sa.c
  soh/src/overlays/actors/ovl_Door_Warp1/z_door_warp1.c
  soh/src/overlays/actors/ovl_En_Bom_Bowl_Man/z_en_bom_bowl_man.c
  soh/src/overlays/actors/ovl_En_Box/z_en_box.c
  soh/src/overlays/actors/ovl_En_Kakasi2/z_en_kakasi2.c
  soh/src/overlays/actors/ovl_En_Kusa/z_en_kusa.c
  soh/src/overlays/actors/ovl_En_Syateki_Man/z_en_syateki_man.c
  soh/src/overlays/actors/ovl_Obj_Comb/z_obj_comb.c
  soh/src/overlays/actors/ovl_Obj_Oshihiki/z_obj_oshihiki.c
  soh/src/overlays/actors/ovl_Obj_Tsubo/z_obj_tsubo.c
  soh/src/overlays/actors/ovl_player_actor/z_player.c
  soh/src/overlays/gamestates/ovl_file_choose/z_file_choose.c
  soh/src/overlays/misc/ovl_kaleido_scope/z_kaleido_collect.c
  soh/src/overlays/misc/ovl_kaleido_scope/z_kaleido_scope_PAL.c
Labels: code cleanup, rando v3

#4321 Unify Shops, Scrubs and Merchants price and hinting code
  soh/soh/Enhancements/custom-message/CustomMessageManager.cpp
  soh/soh/Enhancements/custom-message/CustomMessageManager.h
  soh/soh/Enhancements/custom-message/CustomMessageTypes.h
  soh/soh/Enhancements/debugger/debugSaveEditor.cpp
  soh/soh/Enhancements/game-interactor/GameInteractor.h
  soh/soh/Enhancements/presets.h
  soh/soh/Enhancements/randomizer/3drando/custom_messages.cpp
  soh/soh/Enhancements/randomizer/3drando/fill.cpp
  soh/soh/Enhancements/randomizer/3drando/hint_list.cpp
  soh/soh/Enhancements/randomizer/3drando/hint_list/hint_list_item.cpp
  soh/soh/Enhancements/randomizer/3drando/hints.cpp
  soh/soh/Enhancements/randomizer/3drando/item_pool.cpp
  soh/soh/Enhancements/randomizer/3drando/location_access.cpp
  soh/soh/Enhancements/randomizer/3drando/location_access.hpp
  soh/soh/Enhancements/randomizer/3drando/location_access/locacc_death_mountain.cpp
  soh/soh/Enhancements/randomizer/3drando/location_access/locacc_gerudo_valley.cpp
  soh/soh/Enhancements/randomizer/3drando/location_access/locacc_kakariko.cpp
  soh/soh/Enhancements/randomizer/3drando/playthrough.cpp
  soh/soh/Enhancements/randomizer/3drando/shops.cpp
  soh/soh/Enhancements/randomizer/3drando/shops.hpp
  soh/soh/Enhancements/randomizer/3drando/spoiler_log.cpp
  soh/soh/Enhancements/randomizer/3drando/spoiler_log.hpp
  soh/soh/Enhancements/randomizer/context.cpp
  soh/soh/Enhancements/randomizer/hint.cpp
  soh/soh/Enhancements/randomizer/hint.h
  soh/soh/Enhancements/randomizer/hook_handlers.cpp
  soh/soh/Enhancements/randomizer/item.cpp
  soh/soh/Enhancements/randomizer/item_location.cpp
  soh/soh/Enhancements/randomizer/location.cpp
  soh/soh/Enhancements/randomizer/location.h
  soh/soh/Enhancements/randomizer/location_list.cpp
  soh/soh/Enhancements/randomizer/option_descriptions.cpp
  soh/soh/Enhancements/randomizer/randomizer.cpp
  soh/soh/Enhancements/randomizer/randomizer.h
  soh/soh/Enhancements/randomizer/randomizerTypes.h
  soh/soh/Enhancements/randomizer/randomizer_check_objects.cpp
  soh/soh/Enhancements/randomizer/randomizer_check_tracker.cpp
  soh/soh/Enhancements/randomizer/randomizer_item_tracker.cpp
  soh/soh/Enhancements/randomizer/savefile.cpp
  soh/soh/Enhancements/randomizer/settings.cpp
  soh/soh/Enhancements/randomizer/settings.h
  soh/soh/Enhancements/randomizer/static_data.cpp
  soh/soh/Enhancements/randomizer/static_data.h
  soh/soh/OTRGlobals.cpp
  soh/soh/z_message_OTR.cpp
  soh/src/overlays/actors/ovl_En_Ds/z_en_ds.c
  soh/src/overlays/actors/ovl_En_Ds/z_en_ds.h
  soh/src/overlays/actors/ovl_En_Gm/z_en_gm.c
  soh/src/overlays/actors/ovl_En_Gm/z_en_gm.h
  soh/src/overlays/actors/ovl_En_Js/z_en_js.c
  soh/src/overlays/actors/ovl_En_Js/z_en_js.h
Labels: code cleanup, rando v3

#4236 Allow for User Selected Enemies for Enemizer
  soh/soh/Enhancements/enemyrandomizer.cpp
  soh/soh/Enhancements/enemyrandomizer.h
  soh/soh/SohMenuBar.cpp
Labels: rando v3

#4223 Clean controller menu
  CMakeLists.txt
  soh/soh/Enhancements/controls/InputViewer.cpp
  soh/soh/Enhancements/controls/SohInputEditorWindow.cpp
  soh/soh/Enhancements/controls/SohInputEditorWindow.h
  soh/soh/Enhancements/cosmetics/CosmeticsEditor.cpp
  soh/soh/Enhancements/debugger/debugSaveEditor.cpp
  soh/soh/Enhancements/presets.h
  soh/soh/OTRGlobals.cpp
  soh/soh/OTRGlobals.h
  soh/soh/SohMenuBar.cpp
  soh/src/code/code_800EC960.c
  soh/src/code/z_parameter.c
  soh/src/overlays/actors/ovl_Arms_Hook/z_arms_hook.c
  soh/src/overlays/actors/ovl_En_Partner/z_en_partner.c
  soh/src/overlays/actors/ovl_player_actor/z_player.c
  soh/src/overlays/misc/ovl_kaleido_scope/z_kaleido_equipment.c
  soh/src/overlays/misc/ovl_kaleido_scope/z_kaleido_item.c
  soh/src/overlays/misc/ovl_kaleido_scope/z_kaleido_scope_PAL.c
Labels: code cleanup

#4222 Move ImGui item texture initialization
  soh/soh/Enhancements/debugger/debugSaveEditor.cpp
  soh/soh/ImGuiUtils.cpp
  soh/soh/ImGuiUtils.h
  soh/soh/OTRGlobals.cpp
Labels: code cleanup

#4148 Blair Config Migrator V3
  soh/soh/OTRGlobals.cpp
  soh/soh/config/ConfigMigrators.h
  soh/soh/config/ConfigUpdaters.cpp
  soh/soh/config/ConfigUpdaters.h
Labels: code cleanup
